<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <a href="/">return back</a>
    <h1>Welcome to <%= title %></h1>

    <h2>All Users</h2>

    <table class="table table-striped table-bordered col-sm-1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Has he admin rules?</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<regUsers.length; i++) {%>
            <tr>
                <td><%= regUsers[i].login %></td>
                <td>****</td>
                <% if (regUsers[i].role === 'admin') { %>
                    <td>true</td>
                <% } else { %>
                    <td></td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>