<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

    <% if (user.get('role') == 'admin') { %>
    <p><a href="/admin">admin panel</a></p>
    <% } %>

    <h1>Welcome to <%= title %></h1>

    <a href="/api/credentials/logout" class="btn btn-primary">logout</a>
    <br/>
    <br/>
    <div class="users-list"></div>

    <script src="/js/libs/require.js" data-main="/js/app/app.js"></script>
</body>
</html>
